

<!-- <div class="mx-4 p-5 my-4 bg-dark corner text-white sticky-bottom">

    <div class="d-flex flex-wrap">
        <div class="mr-auto py-3  font-weight-bold">MYKELT</div>
        <div class="mr-auto py-3">Analizamos smartphones, laptops, gatgets, blockchain y otras novedades tecnológicas para que tomes las mejores decisiones</div>
        <div class="row">
           
            <div class="p-2 bold600"><a routerLink="preguntas">Preguntas frecuentes</a></div>
            <div class="p-2 bold600"><a routerLink="contacto">Contacto</a></div>
        </div>

    </div>

</div> -->
<div class="py-4">
    <div class="mx-4 p-sm-5 p-4 footer  corner text-white sticky-bottom">

        <div class="">
            <div class="mykelt py-2 h3 font-weight-bold">MYKELT</div>
            <div class=" pb-2">Analizamos smartphones, laptops, gadgets, blockchain y otras novedades tecnológicas para que tomes las mejores decisiones</div>     
            <div class="bold600"><a routerLink="/preguntas">Preguntas frecuentes</a></div>
        </div>
    </div>
</div>
   
    <!-- <div class="mb-5"></div> -->





    <!-- <p class="font-weight-bold">MYKEZT</p>
    <p>Preguntas frecuentes</p>
    <p>Contacto</p>
    <p>Acerca de nosotros</p> -->
