

<div class="mx-4 p-5 my-4 bg-dark corner text-white sticky-bottom">

    <div class="d-flex flex-wrap">
        <div class="mr-auto py-3  font-weight-bold">MYKEZT</div>
        <div class="row">
            <!-- <div class="p-2 bold600" ><a routerLink="atribuciones">Atribuciones</a></div> -->
            <div class="p-2 bold600"><a routerLink="preguntas">Preguntas frecuentes</a></div>
            <div class="p-2 bold600"><a routerLink="contacto">Contacto</a></div>
        </div>

    </div>

</div>




    <!-- <p class="font-weight-bold">MYKEZT</p>
    <p>Preguntas frecuentes</p>
    <p>Contacto</p>
    <p>Acerca de nosotros</p> -->
