<div class="mx-4 p-5 my-4 bg-dark corner text-white">

    <div class="d-flex flex-wrap">
        <div class="mr-auto p-2 font-weight-bold">MYKEZT</div>
        <div class="p-2 bd-highlight bold600">Atribuciones</div>
        <div class="p-2 bd-highlight bold600">Preguntas frecuentes</div>
        <div class="p-2 bd-highlight bold600">Contacto</div>
    </div>


    <!-- <p class="font-weight-bold">MYKEZT</p>
    <p>Preguntas frecuentes</p>
    <p>Contacto</p>
    <p>Acerca de nosotros</p> -->
</div>