<app-menu></app-menu>

<svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
  <defs>
    <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
      <stop offset="0%" style="stop-color: rgb(238, 182, 51);"></stop>
      <stop offset="100%" style="stop-color: rgb(255, 255, 255);"></stop>
    </linearGradient>
  </defs>
  <path id="blob" d="M429,337Q389,424,293,453Q197,482,120,416Q43,350,37,247.5Q31,145,116.5,93Q202,41,300.5,52Q399,63,434,156.5Q469,250,429,337Z" fill="url(#gradient)"></path>
</svg>

<div class="container my-5 col-11 col-sm-7 justify-content-center bg-white border rounded shadow-lg py-5 px-md-5" *ngIf="!isLogged">
      <div class="container d-flex justify-content-center my-5">
        <p class="h1 font-weight-bold"> Cesta </p>
      </div>

      <div class="container d-flex justify-content-center" >

        <div class="d-flex flex-column">
          <div class="h2 text-center mb-3">
            <p>
              Inicia sesión para ver el carrito
            </p>
          </div>
          <div class="text-center" >
            <button class="btn btn-dark corner" routerLink="/login">
              Inicia sesión para añadir a la cesta
            </button>
          </div>
        </div>

      </div>
</div>
<!--

<!-- Si ya se ha cargado, muestra el div -->
<div *ngIf="cargado==true">

  <div class="container col-lg-5   pt-2 my-5 ">
    <div class="card corner bg-white shadow d-flex flex-column p-sm-5 p-4 mx-3">

      <div class="container d-flex justify-content-center mb-3">
        <p class="h1 font-weight-bold"> Cesta </p>
      </div>

      <div class="mb-5 h2">
        <!-- Utilizamos DecimalPipe que viene integrado en Angular por defecto -->
            Total: {{PrecioTotal | number:'1.2-2':'es'}} euros.
      </div>
      <div>
        <button class="btn btn-dark corner btn-block" (click)="pagar()">
        COMPRAR
        </button>
      </div>
    </div>
  </div>

  <div class="container d-flex justify-content-around flex-wrap pt-3">
    <!-- cartProducts es el que contiene lo que necesitamos para la vista -->
    <div class="col-lg-5" *ngFor="let cartProduct of cartProducts" [style.max-width.px]="400">

      <div class="card mb-5 cardstyle mx-0 my-0 px-4 pt-4 pb-0 corner shadow">

        <table class="table table-borderless d-inline">

          <tr class="container d-flex justify-content-center">
            <a routerLink="/productos/{{cartProduct.id}}">
              <img [src]="cartProduct.images" class="img-fluid cornerlista mx-auto d-block">
            </a>
          </tr>

          <tr>
            <td>
              <div class="mt-3"> <a class="h2" routerLink="/productos/{{cartProduct.id}}">{{cartProduct.name}}</a>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="listheader"> {{cartProduct.metadata.price | number:'1.2-2':'es'}} €</div>
            </td>
          </tr>

          <tr>
            <td>

              <button class=" mx-0 px-0 pointer text-dark remove" (click)="resta(cartProduct.id, cartProduct.quantity)"  [disabled]="cartProduct.quantity<2">
                <i class="fas fa-minus-circle fa-lg"></i>
              </button>
              {{cartProduct.quantity}}

              <a class=" mx-0 px-0 pointer text-dark" (click)="suma(cartProduct.id, cartProduct.quantity)">
                <i class="fas fa-plus-circle fa-lg"></i>
              </a>

              &nbsp; &nbsp;
              <a class="mx-0 px-0 pointer text-dark" (click)="borrar(cartProduct.idDB)">
                <i class="far fa-trash-alt fa-lg"></i>
              </a>
            </td>
          </tr>

        </table>


      </div>
      <!-- </a> -->
    </div>

  </div>

</div>
<!--cierra el ngif de cargado -->