<app-menu></app-menu>

<div class="py-5">

    <div class=" container col-lg-7 bg-white  my-5 py-4 px-3 ">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="form-group">
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="post.name" required placeholder="Escribe aquí el nombre">
            </div>

            <div class="form-group mt-5">
                <ckeditor  data="<p>Hello, world!</p><br>hello" type="inline" [config]="{ extraPlugins: 'divarea' }" [(ngModel)]="post.body" name="body" ></ckeditor>
            </div> 
        
            <div class="d-flex justify-content-around mt-5">
            <a class="linkmin btn btn-block" routerLink="/articulos"> Volver </a>
            <button class="btn boton btn-block" [disabled]="!f.valid">
                Guardar
            </button>
            </div>
        </form>

    </div>
</div>