<app-menu></app-menu>

<div class="mb-5">
  <br>
</div>


<p class="h3 text-center"> Artículos </p>
  <br>

<p class="text-center">
   <button class="btn btn-primary mb-5" routerLink="nuevo"> Crear artículo </button>
</p> 

<!-- <div class="container d-flex justify-content-center"> -->

  <div class="container d-flex justify-content-around flex-wrap"> 
    <div class="col-lg-5" *ngFor="let post of posts">

    <!-- <a routerLink="/{{post.id}}"> -->

      <div class="card mb-5 cardstyle mx-0 my-0 px-4 pt-4 pb-0 corner shadow">

          <!-- {{post.image}}     intento con d-inline, miraré otro -->
          <table class="table table-borderless d-inline">
            <tr>
              <!-- <td> <img src="'http://localhost:4200/' + post.image"> </td> -->
              <a routerLink="/{{post.id}}">
                <img [src]="'http://127.0.0.1/storage/' + post.image" class="img-fluid cornerlista mx-auto d-block" >
              </a>

            </tr>
            <tr>
              <td>
                <a class="h2" routerLink="/{{post.id}}">{{post.name}}</a>
              </td>
            </tr>
            <tr>
              <td>
                Probando. Este sería el header del artículo. Abajo tengo comentado la forma de mostrarlo bien.
                <!-- <div [innerHTML]="post.body"></div> -->
              </td>
            </tr>
            <tr>
              <td>
                <button class="btn btn-dark btn-block corner mt-3" routerLink="/{{post.id}}">Ver artículo </button>
              </td>
            </tr>
            <tr>
              <td>
                <button class="btn btn-outline-dark btn-sm corner" routerLink="editar/{{post.id}}">Editar </button>
                &nbsp;
                <button class="btn btn-outline-dark btn-sm corner" (click)="borrar(post.id)">Borrar </button>
              </td>  
            </tr>

              <!-- Ponemos div innerhtml para que renderice el html -->
              <!-- {{post.body}} -->
          </table>
        
      </div>
    <!-- </a> -->
    </div>
  </div>
<!-- 
</div> -->