<app-menu></app-menu>

<div class="mb-5">
  <br>
</div>



<div class="container">

  <span class="h1 font-weight-bold">Productos </span>

  <div class="form-group mt-5">
    <input type="text" class="form-control" name="filterPost" placeholder="Buscar..." [(ngModel)]="filterPost">
  </div>

  <div class="container d-flex justify-content-around flex-wrap">
    <div class="col-lg-5" *ngFor="let producto of productos">

      <!-- <a routerLink="/{{post.id}}"> -->

      <div class="card mb-5 cardstyle mx-0 my-0 px-4 pt-4 pb-0 corner shadow">

        <!-- {{post.image}}     intento con d-inline, miraré otro -->
        <table class="table table-borderless d-inline">
          <tr>
            <!-- <td> <img src="'http://localhost:4200/' + post.image"> </td> -->
            <!-- <a routerLink="/{{post.id}}"> -->
            <!-- <img [src]="{{producto.images.0}}" class="img-fluid cornerlista mx-auto d-block" > -->
            <!-- </a> -->

          </tr>
          <tr>
            <td>
              <div class="mt-3"> <a class="h2" routerLink="/{{producto.id}}">{{producto.name}}</a> </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="listheader"> {{producto.metadata.price}} </div>
              <!-- Probando. Este sería el header del artículo. Abajo tengo comentado la forma de mostrarlo bien. -->
              <!-- <div [innerHTML]="post.body"></div> -->
            </td>
          </tr>
          <!-- <tr>
            <td>
              <button class="btn btn-dark btn-block corner mt-3" routerLink="/{{producto.id}}">Ver artículo </button>
            </td>
          </tr> -->
          <!--  <tr>
              <td>
                <button class="btn btn-outline-dark btn-sm corner" routerLink="editar/{{producto.id}}">Editar </button>
                &nbsp;
                <button class="btn btn-outline-dark btn-sm corner" (click)="borrar(producto.id)">Borrar </button>
              </td>  
            </tr> -->

          <!-- Ponemos div innerhtml para que renderice el html -->
          <!-- {{post.body}} -->

          <tr>
            <td>
              <!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->

                    <button class="btn btn-primary" (click)="priceId(producto.id)"> Producto id </button> 
            </td>
          </tr>
        </table>

 

      </div>
      <!-- </a> -->
    </div>
  </div>


</div>



<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding.
<button
  style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em;cursor:pointer"
  id="checkout-button-price_1JRykpEDzo7bolN0pL6nAUjv" role="link" type="button">
  Checkout
</button> -->

<div id="error-message"></div>