<app-menu></app-menu>

<svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
    <defs>
      <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" style="stop-color: rgb(238, 182, 51);"></stop>
        <stop offset="100%" style="stop-color: rgb(255, 255, 255);"></stop>
      </linearGradient>
    </defs>
    <path id="blob" d="M429,337Q389,424,293,453Q197,482,120,416Q43,350,37,247.5Q31,145,116.5,93Q202,41,300.5,52Q399,63,434,156.5Q469,250,429,337Z" fill="url(#gradient)"></path>
  </svg>

<div *ngIf="oauth" class="m-lg-5">

    <div class="h5 mt-4">Cuenta iniciada con OAUTH.  </div>
    <div class="h5 mt-4">Puede acceder a la selección de productos. </div>

    <div class="mt-5 d-flex justify-content-center">
        <button class="btn boton btn-block col-lg-4 shadow " routerLink="/lista">
            Ir a la lista
        </button>
    </div>

</div>

    <div class="container my-5 col-11 col-sm-7 justify-content-center bg-white border rounded shadow-lg py-5 px-md-5">
        <div *ngIf="nombreUsuario" class="m-lg-5">

            <div class="h5 mt-4">Hola {{userName}} ({{userEmail}}).    </div>
            <div class="h5 mt-4">Puede acceder a la selección de productos. </div>

            <div class="mt-5 d-flex justify-content-center">
                <button class="btn boton btn-block col-lg-4 shadow " routerLink="/lista">
                    Ir a la lista
                </button>
            </div>

        </div>

        <div *ngIf="!nombreUsuario" class="m-lg-5">
            <p class="h1">Acceda a la lista de productos</p>
            <p class="h5 mt-5 font-weight-normal">
                Esta lista contiene productos con un alto volumen de ventas.
            </p>
            <div class="d-flex justify-content-lg-center">

                <div class="mt-4 d-flex flex-column flex-lg-row mb-1 col-lg-10">
                    <div class="col d-flex justify-content-center mt-3">
                        <button class="btn btn-outline-dark btn-block" routerLink="/login">
                            Iniciar Sesión
                        </button>
                    </div>

                    <div class="col d-flex justify-content-center mt-3">
                        <button class="btn boton shadow btn-block" routerLink="/registro">
                            Registrarse
                        </button>
                    </div>

                </div>
            </div>
        </div>

    </div>

