/* You can add global styles to this file, and also import other style files */
html {
  font-family: 'Lato', sans-serif;
}



a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.linkmin {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.menulink:hover {
  text-decoration: none;
  color: #00a49e;
}

.boton {
  color: white;
  background-color: #00a49e;
}

.boton:hover {
  color: white;
}



#toast-container > .toast-success {
  /* background-image: none;   */
  background-image: url(./assets/checked.png)!important;
 background-color: white;
  color: black;
  border-radius: 5px !important;
}

.corner{
  border-radius: 25px;
  /* width : 900px; */
}

.cornerlista{
  border-radius: 25px;
  /* width : 500px;
  height: 200px; */
  max-width: 100%;
}

.cardstyle{
  /* width: 500px; */
}

