/* You can add global styles to this file, and also import other style files */
html {
  font-family: 'Lato', sans-serif;
}

/* Fondo gris */
body{
  background-color: #fafbfe;
}


a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.linkmin {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.menulink:hover {
  text-decoration: none;
  /* color: #00a49e; */
  color: #eeb633;
}

.boton {
  color: white;
  background-color: #00a49e;
}

.boton:hover {
  color: white;
}



.pointer:hover{
  cursor: pointer;
}


#toast-container > .toast-success {
  /* background-image: none;   */
  background-image: url(./assets/checked.png)!important;
 background-color: white;
  color: black;
  border-radius: 5px !important;
}

.corner{
  border-radius: 25px;
  /* width : 900px; */
}

.cornerlista{
  border-radius: 25px;
  /* width : 500px;
  height: 200px; */
  max-width: 100%;
}

.cardstyle{
  /* width: 500px; */
}

.cardstyle:hover{
  /* transform:scale(1.001); */
  position: relative;
  bottom: 3px;
}

.listheader{
  color: #58667e;
}

.bgheader{
  background: #f8fafd;
  /* background: rgb(40,207,246);
  background: linear-gradient(180deg, rgba(40,207,246,0.05085784313725494) 100%, rgba(250,249,250,1) 100%); */
  font-size: 130%;

  border-left: 6px solid #23f5c3;

  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.fontbody{
  font-size: 130%;
  /* font-family: 'Inter', sans-serif; */
}

/* Botones para el login social */
.greybuttom{
  background: #f2f3f5;
  font-weight: 600;
  /* color: #f2f3f5; */
}

.greybuttom:hover{
  background: #DCDCDC;
  /* color: #f2f3f5; */
}

.lightgrey{
  background: #f2f3f5;
}

.bordertop{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.bold600{
  font-weight: 600;
}

/* .cta{
  border-radius: 25px;
  background-color: #12141d;
} */

#blobSvg{

  position: absolute;

}

.remove{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.admintable{}

.admintable:hover{
  background-color: #f2f3f5;
}